@model IEnumerable<prjShoppingCar.Models.tMember>

@{
    ViewBag.Title = "會員管理專區";
}

<h2>會員管理專區</h2>


<table class="table">
    <tr>
        <th>
            會員帳號
        </th>
        <th>
            會員密碼
        </th>
        <th>
            會員名稱
        </th>
        <th>
            會員信箱
        </th>
        <th>
            帳號
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fUserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fPwd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fEmail)
        </td>
        <td>
            <img src="~/images/@(item.fBanned).png" width="32" />
        </td>
        <td>
            @Html.ActionLink("Edit", "ADMemberPage", new { id = item.fId }) 
        </td>
    </tr>
}

</table>
